* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
img .imagestyle{
  max-width: 100%;
  object-fit: cover;
}
body{
  background-color: #252836;
}
h1{
  font-size: 30px;
  color: aliceblue;
  margin: 10px;
}